body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #fdebf4;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #e67192;
}

button {
    font-size: 1.2em;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    border: none;
    background-color: #fdbca1;
    color: #e67192;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #fec8d4;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #b693b6;
}

#user-choice {
    font-weight: bold;
    color: #b693b6;
}

#computer-choice {
    font-weight: bold;
    color: #b693b6;
}

#result {
    margin: 20px 0;
    color: #e67192;
    font-size: 2.5em;
    font-weight: bold;
}